@model IEnumerable<CiBeer.Models.BeerModel>

@{
    ViewBag.Title = "Øl";
}

<h2>Liste over øl</h2>

<p>
    @Html.ActionLink("Legg til øl", "Create")
</p>
<form>
    <div class="form-group">
        <label for="query">Søk</label>
        <input class="form-control" id="query" name="query" type="text" value="@ViewBag.query" placeholder="Navn, Type, Bryggeri" style="max-width: none">
    </div>
    <input type="submit" value="Søk" class="btn btn-default" style="margin-bottom: 30px" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brewery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Create", new { controller = "CheckIn", action = "Create", beerName = item.Name })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
